<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="renameModalLabel">Enter a quantity to buy (default: all)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteForm" class="w-100 d-flex gap-4 align-items-center">
          <label class="flex-grow-1" for="item">Quantity:</label>
          <div class="w-100 d-flex align-items-center justify-content-center">
              <input type="number" class="flex-grow-1" id="quantity"/>
              <button class="btn" type="submit"><i class="fa-solid fa-right-to-bracket"></i></button>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-action" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
  </div>
</div>