* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
    margin-top: 10rem;
  }

form > *{
  padding: 0.5em;
}

.btn-primary {
  background-color: rgb(0, 106, 255);
  border-color: rgb(0, 106, 255);
}

.btn-primary:hover {
    background-color: rgb(7, 153, 29);
    border-color: rgb(7, 153, 29);
}

.icon > svg {
  color: rgb(0, 106, 255);
}

.icon > svg:hover {
  color: rgb(7, 153, 29);
  transition: 0.25s;
}

#passwordInput {
  gap: 1em;
}

.waves {
  width: 100%;
}

